.login-input-text {
    color: #c9ced0;
    font-size: 12px;
    margin: 0 0 5px 0;
}
.login-input-text input[type="text"] ,.login-input-text input[type="password"]{
    margin: 0 0 1em 0;
    height: auto;
}
.login-input {
    width: 100%;    
    color: black;
}
.login-section .login-section-form .login-button {
    width: 95%;
    color: #132e4a;
    font-weight: 400;
    background-color: #4bdcf2;
    border-radius: 13px;
    padding: 4px 25px;
    border: none;
    transition: background-color .2s;
}